table, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

thead {
	border: 2px solid red;
}

table tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}